.container-command {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre las columnas */
}

@media all and (max-width: 599px){
    .container-command{
      display: block;
    }
  }

.menu-by-category{
    width: 100%;
    padding: 1rem;
}

.div-categories{
    display: flex;
}

.div-menu{
    display: flex;
}