.div-command{
    border-color: brown;
    background-color: rgb(238, 231, 223);
    /* width: 90%; */
    /* margin: 0 auto; */
    margin-top: 3rem;
    border-radius: 3%;
    margin-top: 2rem;
    padding: 1rem;
}

.close-button{
    background-color: rgb(63, 88, 162);
}